/* Pen-specific styles */
html, body, section {
  height: 100%;
}

div {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
}

.left-side {
  background-image: url('images/noahpeden.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1;
  padding: 1rem;
}

.title-container h2{
  font-family: 'Raleway', sans-serif;
}

.title-container h1{
  font-family: 'Bitter', sans-serif;;
}

.right-side {
  flex: 1;
  padding: 1rem;
}

header {
  font-size: 30px;
  color: white;
  text-align: center;
}

header img{
  fill: white;
  margin-top: 10px;
  height: 60px;
  width: 60px;
}

.title-who, .title-what, .title-where{
  font-family: 'Bitter', sans-serif;
  font-weight: bold;
}

.bio-text {
  font-family: 'Raleway', sans-serif;
  margin-left: 50px;
  padding: 10px 0 10px;
}

.bio-text li{
  padding: 2.5px 0 2.5px;
  margin-bottom: 3px;
}

.what-text li{
  float: left;
  padding: 20px 20px 0 20px;
  filter: gray;
  -webkit-filter: grayscale(100%);
}


.what-text li:hover{
  border: 1px solid black;
  filter: none;
  -webkit-filter: grayscale(0%);
}
